
/*
I added the below css code to form the hotellist.js
This is responsive design. Please remove comment out if you want to change the style for PC  
*/

.hotel-count{

font-style: italic;

}

.name-form{

	margin-top: 10px;
	margin-bottom: 10px;

/*
	margin-right: 500px;
	margin-left: 500px;
*/

}

.text-form{ 

	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;

/*
	margin-right: 500px;
	margin-left: 500px;
*/

}

.name-input{
	text-align: center;
}

.text-input{
	text-align: center;
}

.hotel-info{

	/*
	margin-right: 380px;
	margin-left: 380px;
*/
}


